.header-bar {
    background-color: rgb(52, 57, 62);
    font-style: oblique;
    position: fixed;
    width: 100vw;
    height: 75px;
    z-index: 100;
    display: flex;
    justify-content: space-between; 
    padding-left: 1px;
}

.header-bar button{
    border: none;
    background-color: transparent;
    color: #425ab9;
    margin-right: 25px;
}

.header-bar h1 {
    margin-left: 25px;
}


.header-bar img {
    width: 25vw;
}