.home {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

.landingPageLogo {
  background-image: url('../assets/images/gameatron_logo_clearbg_with_tagline.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
}

.logIn {
  padding-top: 20px;
}
