.home {
  box-sizing: border-box;
  margin-top: 10px;
  padding: 0;
  border: 0;
  
  margin: auto;
  
}

.landingPageLogo {
  background-image: url('../assets/images/gameatron_logo_clearbg_with_tagline.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 150px;
}

.logIn {
  padding-top: 20px;
}

.home h1, p {
  margin: 0;
}

.home h2 {
  font-size: 1.2em;
}

.home input {
  margin-bottom: 10px;
}

.home label {
  display: none;
}

.home.card  {
  display: flex;
  
  width: 90vw;
  
  
  
  min-height: 90vh;
}

.home .link,
.submit-link {
  color: rgb( 33, 150, 243);
  cursor:pointer;
  text-decoration:underline;
}

