
.newGame p {
    margin-top: 0;
    margin-bottom: 5px;
}

.item-label {
    display: none;
    margin-top: 10px;
    margin-bottom: 2px;
    /* border: solid red 1px; */
} 

.reset-submit-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    /* border: solid red 1px; */
}



@media screen and (min-width: 600px) {
    

    .rules p {
        margin-top: 0;
        /* border: solid red; */
    }

    .rules-fields {
        display: flex;
        justify-content: center;
        /* border: solid blue 1px;  */
        align-content: center;
        
    }

    .rules-fields button {
        height: 26px;
        margin: 5px 0;
    }

    .rules-fields .item-label {
        /* border: solid red 1px; */
        margin: 0;
    }

    .rules-fields input {
        height: 100%;
    }

    .scores {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-content: center;  
        /* border: solid red 1px; */
        

    }

    .scores button {
        width: 13%;
        margin-bottom: 5px;
    }

    .item-label {
        display: none;
        margin-top: 10px;
        margin-bottom: 2px;
        /* border: solid red 1px; */
    } 

    .newGame {
        box-sizing: border-box;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 12px; 
        background-color: #f9f9f5;
        min-height: 85vh;
        max-height: 85vh;
        overflow-y: scroll;
        /* border: solid red 1px; */
        /* box-shadow: 1px 1px 10px #333; */
        margin-top: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        

    }

    .newGame h2 {
        margin-top: 0;
        
    }

    input {
        margin: 5px 5px 5px 0;
        padding: 0;
    }

    

    
  }

