.side-bar {
  text-align: center;
  width: 100vw;
  padding: 0;
  /* background-color: red; */
  margin: 0;
}

.sidebar-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: .75rem;
  /* border-bottom: solid lightgrey 1px; */
  margin-top: 5px;
}

.sidebar-lists {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-lists button {
  width: 75%;
  
}

/* .sidebar-myGames, 
.sidebar-myGames button {
  background-color: aliceblue;
} */

hr {
  display: none;
}


@media screen and (min-width: 600px) {
  .side-bar {
      text-align: center;
      width: 250px;
      min-width: 150px;
      
    }

  .sidebar-container{
    display: flex;
    font-size: 1em;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
  }
  

  .side-bar button {
      width: 100%;
      margin: auto;
      border: none;
      margin-top: 10px;
  }

  button:focus{
      outline: 0;
  }

  .sidebar-myGames {
    display: block;
  }


  .sidebar-lists {
    padding: 5px;
    margin: 0;
  }
  
}